*{
    padding: 0;
    margin: 0;
    color: black;
}

.header{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: fixed;
    width: 100%;
    background-color: rgb(248, 232, 232);
   
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(20, 41, 41);
    justify-content: center;
    font-size: larger;
    
    color:rgb(255, 0, 89);
}

.title{
   
    color:rgb(255, 0, 89);
    font-size: x-large;
    font-weight: bold;
    

    
}
.fa{
    display: flex;
   
    color:rgb(255, 0, 89);
    padding-left: 10px;
    font-size: x-large;
}

.fa-search{
    font-size: x-large;
}
.search{
    background-color: rgb(253, 244, 244);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}
.search button{
    background-color: rgb(253, 244, 244);
    padding: 10px;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid white;
    
}
.fa-search2{
    font-size: medium;
}
.button2{
    border: none;
    background-color:rgb(140, 140, 203);
    color: black;
    margin: 0;
    padding: 10px;
   border-radius: 5px;
  

}

.right{
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
margin-right: 20px;

    
}
a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

    background-color: rgb(31, 31, 57);

}
.b3{
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 5px;

    background-color: rgb(0, 0, 0);
}

.loginbox{
height: 700px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-size: contain;
}

.loginbox2{

    height: 400px;
    width: 400px;
   border-radius: 20px;
    padding-top: 10px;
   color: rgb(0, 0, 0);
   background-color: rgb(248, 232, 232);
    padding: 10px;
    text-align: center;
    font-size: x-large;
    justify-content: center;
    margin: auto;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(248, 232, 232);
        width: 400px;
       padding-top: 20px;
        align-items: center;
        justify-content: center;

        color: rgb(0, 0, 0);
    }
.log{
    padding: 15px;
    border: none;
    border-radius: 5px;
}
.submit{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 89);;
}
.err{
    font-size: medium;
    padding-top: 2px;
}
.log1{
color: aliceblue;
    background-color: rgb(248, 232, 232);
    text-decoration: underline;

   color: rgb(0, 0, 0);
}



.dash1{
    height: 64px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.page{
    width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    
}

.fpbutton{
    height: 70px;color: brown;
    width: 200px;
    border: none;
    border-radius: 20px;
    
}

.f2{
    background-color: rgb(31, 31, 57);
}
.fullpage{
    display: flex;
    justify-content: space-around;
    
}



.content{
    height: 400px;
    width: 600px;
    border: 2px solid rgb(177, 80, 80);
    margin-top: 50px;
    margin: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.fa3{
    font-size: 200px;
    color: rgb(31, 31, 57);
    background-color: rgb(255, 255, 255);
   padding-top: 40px;
  }

  .cont1{
    background-color:  rgb(255, 255, 255);
    border: none;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .fpicons{
    display: flex;
    flex-direction: row;
    
  }
  .fpicons p{
    
    color: rgb(247, 84, 119);
    
  }
  .fpb{
    background-color: rgb(244, 241, 241);
    border: none;
    margin: 10px;
    padding: 20px;
    margin-top: 0px;
border-radius: 15px;
  }

  