*{
    padding: 0;
    margin: 0;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.header{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: fixed;
    width: 100%;
    background-color: rgb(248, 232, 232);
   
    
}
.padding{
    height: 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
    color: rgb(20, 41, 41);
    justify-content: center;
    font-size: larger;
    
    color:rgb(255, 0, 89);
}

.title{
   
    color:rgb(255, 0, 89);
    font-size: x-large;
    font-weight: bold;
    

    
}
.fa{
    display: flex;
    color:rgb(255, 0, 89);
    padding-left: 10px;
    font-size: x-large;
}
.fax{
    color:rgb(255, 0, 89);
    font-family: monospace;
}

.fa-search{
    font-size: x-large;
}
.search{
    background-color: rgb(253, 244, 244);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;

}
.search button{
    background-color: rgb(253, 244, 244);
    padding: 10px;
    font-size: medium;
    border-radius: 20px;
    border: 2px solid white;
    
}
.fa-search2{
    font-size: medium;
}
.button2{
    border: none;
    background-color:rgb(140, 140, 203);
    color: black;
    margin: 0;
    padding: 10px;
   border-radius: 5px;
  

}

.right{
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
margin-right: 20px;

    
}

a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

    background-color: rgb(31, 31, 57);

}
.b3{
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 5px;

    background-color: rgb(0, 0, 0);
}

.loginbox{
height: 700px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
background-size: contain;
}

.loginbox2{

    height: 500px;
    width: 400px;
   border-radius: 20px;
    padding-top: 10px;
   color: rgb(0, 0, 0);
   background-color: rgb(248, 232, 232);
   box-shadow:0 0 10px rgb(255, 255, 255); 
    padding: 10px;
    text-align: center;
    font-size: x-large;
    justify-content: center;
    margin: auto;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgb(248, 232, 232);
        width: 400px;
       padding-top: 20px;
        align-items: center;
        justify-content: center;

        color: rgb(0, 0, 0);
    }
.log{
    padding: 15px;
    border: none;
    border-radius: 5px;
}
.submit{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(255, 0, 89);
}
.err{
    font-size: medium;
    padding-top: 2px;
}
.log1{
color: aliceblue;
    background-color: rgb(248, 232, 232);
    text-decoration: underline;

   color: rgb(0, 0, 0);
}



.dash1{
    height: 64px;
    width: 100%;
    background-color: rgb(248, 232, 232);
}
.page{
    width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    
}

.fpbutton{
    height: 70px;color: brown;
    width: 200px;
    border: none;
    border-radius: 20px;
    
}

.f2{
    background-color: rgb(31, 31, 57);
}
.fullpage{
    display: flex;
    justify-content: space-around;
    
}
.info{
    text-align: center;
    font-weight: lighter;
    
}
.info h2{
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
    text-decoration: underline;
}
.info h4{
    text-align: center;
    font-weight: lighter;
    padding-top: 10px;
}
.info button{
    background-color: rgb(255, 0, 89);
    border: none;
    padding: 5px;
   border-radius: 5px;
}
.out{
    background-color: rgb(255, 0, 89);
    border: none;
    padding: 15px;
   border-radius: 5px;
   margin: 10px;
   align-items: center;
}
.out1{
    background-color: rgb(255, 0, 89);
    border: none;
    padding: 15px;
    margin-top: 20px;
   border-radius: 5px;
}
.out2{
    background-color: rgb(255, 0, 89);
    border: none;
    padding: 5px;
   border-radius: 5px;
   font-size: small;
   

}
.center :nth-child(2){
    padding: 11px 2px 11px 2px;
}
.center{
    display: flex;
    align-items: center;
    gap: 2px;
   
}
.dash{
    display: flex;
    flex-direction: column;
}
.dd{
    margin: auto;
}

.fa-check{
    color: #ffffff;
    background-color: #000000;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}
.content{
    height: 400px;
    width: 400px;
   margin: 20px;
   box-shadow:0 0 10px rgb(255, 255, 255); 
    
   border-radius: 25px;
   background-color: #ececec;
   display: flex;
   justify-content: start;
   flex-direction: column;
   align-items: center;
    gap: 20px;

}

.content-x{
    height: 800px;
    width: 800px;
   margin: 20px;
   box-shadow:0 0 10px rgb(255, 255, 255); 
    
   border-radius: 5px;
   background-color: #ececec;
   display: flex;
   justify-content: start;
   flex-direction: column;
   align-items: center;
    gap: 20px;

}

.contentx{
    height: 800px;
    width: 700px;
   margin: 20px;
   box-shadow:0 0 10px rgb(255, 255, 255); 
    
   border-radius: 25px;
   background-color: #ececec;
   
    gap: 20px;

}

.fa3{
    font-size: 150px;
    color: rgb(31, 31, 57);
    
   padding-top: 40px;
  }
.wr{
    display: flex;
   
    align-items: center;
    flex-direction: column;
    height: 1200px;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/220118/pexels-photo-220118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.wr1{
    display: flex;
    color: #ffffff;
    height: 650px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/220118/pexels-photo-220118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.wr2{
    
    color: #ffffff;
    height: 1250px;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/220118/pexels-photo-220118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
   
    align-items: center;
    flex-direction: column;
}
.content form{
    width: 100px;
    padding: 0;
    background-color: #ececec;
    margin-top: 20px;
}
.content form input{
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 5px;
}
.content h5{
    text-decoration: underline;
}
  .cont1{
    background-color:  rgb(255, 255, 255);
    border: none;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .fpicons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
    border: 2px solid ;
    gap: 20px;
    padding: 5px;
    color: #b5b5b5;
  }
  .fpicons i{
    color: #b5b5b5;
  }
  .fpicons p{
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: #b5b5b5;
  }
  

 
  .card p{
    color: rgb(107, 109, 109);
    text-align: center;

  }
  .img img{
    width:300px;
    height: 300px;
    border-radius: 30px;
    margin: 10px;
  }

  .cardbox{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
  }
  .cardtext p{
    color: white;
  }

  .footer {
    background-color: #b5b5b5;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin: 10px;
  }
  
  .footer-section h3 {
    margin-top: 0;
  }
  
  .footer-section p {
    margin: 10px 0;
  }
  
  .logos {
    text-align: center;
  }
  
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  .label{
    font-size: medium;
    gap: 10px;
    display: flex;


   
  }
.mid{
    margin: auto;
    margin-top: 100px;
    color: #ececec;

}
.mid p,button{
    padding-top: 100px;


}

.hello{
    padding: 10px;
    color: white;
    padding-left: 100px;
    font-family: monospace;
}


.white {
    color: #ffffff;
    padding: 20px;
    font-weight: 600;
    font-size: x-large;
}

.empty{
    background-color: #ececec;
    border: none;
    padding: 0px;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
  }
  table:hover{
     cursor: pointer;
  }

  .contentx1{
    height: 600px;
    width: 800px;
   margin: 20px;
   box-shadow:0 0 10px rgb(255, 255, 255); 
    
   border-radius: 25px;
   background-color: #ececec;
   display: flex;
   justify-content: start;
   flex-direction: column;
   align-items: center;
    gap: 20px;

}

.App {
    text-align: center;
}
.carousel .thumbs-wrapper {
    display: none !important;
  }
  

 
@media only screen and (max-width: 768px) {
    
    .logo {
        justify-content: center;
    }
    .right {
        margin-right: 0;
        margin-top: 10px;
        justify-content: center;
    }
    
    .loginbox {
        height: auto;
    }
    .loginbox2 {
        width: 80%;
    }
    .content, .contentx, .contentx1 {
        width: 90%;
    }
    .footer-section {
        flex: 1 1 100%;
    }
}

@media only screen and (max-width: 480px) {
    
    .fa {
        font-size: large;
    }
    .wr2{
        height: 1050px;
    }
    .navbar {
        gap: 10px;
        
    }
    .fullpage{
        overflow: hidden;
        gap: 10px;
    }
    .fullpage button{
        height: 2px;
        font-size: x-small;
        text-align: start;

    }
    .fullpage button i{
        display: none;
    }
    .button2 {
        padding: 5px;
    }
    .navbutton {
        padding: 5px;
        font-size: small;
    }
    .loginbox {
        padding-top: 50px;
        height: auto;
    }
    .loginbox2 {
        width: 90%;
    }
    .content, .contentx, .contentx1 {
        width: 95%;
    }
    
    .card{
        margin: 0px 30px 0px 0px;
        font-size: xx-small;
    }
    .img img{
        height: 100px;
        width: 100px;
    }
   .cardbox{
    flex-wrap: wrap;
   }

   
}




.add-event-form {
    max-width: 500px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 20px;
    
   box-shadow:0 0 10px rgb(255, 255, 255); 
  }
  
  .add-event-form label {
    display: block;
  }
  
  .add-event-form input[type="text"],
  .add-event-form input[type="datetime-local"],
  .add-event-form input[type="number"],
  .add-event-form textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .add-event-form textarea {
    height: 100px;
  }
  
  .add-event-form button {
    width: 100%;
    padding: 10px;
    background-color: #e06995;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-event-form button:hover {
    background-color: #d03865;
  }
  
  .flex{
    display: flex;
    justify-content: start;
  }

.event-list{
    display: flex;
gap: 10px;}


.event-card {
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .event-card:hover {
    transform: scale(1.05);
  }
  
  .event-card img {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid #ddd;
  }
  
  .event-details {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }
  
  .event-details h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
  }
  
  .event-details p {
    margin: 5px 0;
  }
  
  .event-details .out {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .event-details .out:hover {
    background-color: #0056b3;
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  

  .booking-page {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}
.event-detailsh{
    margin-top: 80px;
    position: fixed;
    top: 0px;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.event-detailsh img{
    height: 300px;
    width: 300px;
}

.event-detailsh p{
    padding: 20px;
    font-size: x-large;
}
.event-detailsh :nth-child(2){
    padding: 20px;
    font-size: x-large;
}
